@font-face {
    font-family: "Raleway";
    src: url(Fonts/static/Raleway-Regular.ttf);
}

.textFormatting {
    color:white;
    font-family: "Raleway";
}

.infoSection {
    width: 100%;
    color: black;
}

#representationImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#mailtoIcon {
    padding-left: 1em;
    width: 2.5%;
    height: 2.5%;
}

