@font-face {
    font-family: "Raleway";
    src: url(Fonts/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(Fonts/static/Raleway-Bold.ttf);
}

body {
    background-color: #121212;
}

#topBar {
    padding: 10px;
    height: 2.5em;
    width: 98.5%;
    background-color:grey;
    margin-bottom: 1em;
}

.barOptions {
    font-size: 2em;
    color: white;
    padding: 2em;
    font-family: "Raleway-Bold";
    text-decoration: none;
}

.barOptions:hover {
    background-color: #121212;
    
}

.body {
    background-color: white;
    padding: 2em;
}